@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

p {
  font-size: 15px; }

ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-weight: 300;
  text-align: center; }

ul a {
  color: black;
  font-size: 17px;
  font-weight: 600;
  padding: 50px; }

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  background: black;
  height: 120px;
  border-top: 2px solid rgba(0, 0, 0, 0.24);
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 1.2rem;
  color: white;
  line-height: 2rem;
  margin-top: 3rem; }

/*  */

/* BARRA LATERAL*/
.sidebar {
  position: relative;
  margin: 70px auto 10px 0;
  width: 25%; }

/* FIN BARRA LATERAL */
/* ÃREA NOTICIAS TOP */

.news-image {
  border: #b4d9c4 solid 1px;
  opacity: 0.5;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

.news-image:hover {
  opacity: 1;
  border: #69afbf solid 3px; }

/* /HERO TOP */
/*  */
.logo {
  text-decoration: none;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1; }

/* CARDS CONTENIDO */
.card-post {
  background: blanchedalmond;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  width: 100%; }

.card-post__hero {
  background-size: cover;
  border-bottom: 4px solid #69afbf;
  height: 200px; }

.card-post__category {
  top: 185px;
  right: 10px;
  height: 24px; }

.card-post__category a {
  top: 0;
  z-index: 2;
  text-decoration: none;
  background: #69afbf;
  border-radius: 17px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  height: 18px;
  margin-left: 30px;
  padding: 0 12px;
  transition: background-color 0.5s ease, box-shadow 0.3s ease, transform 0.2s ease; }

.card-post__category a:hover {
  animation: bounceShadow 1s linear infinite;
  background: #69afbf;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25); }

.card-post__category a:active {
  transform: scale(0.85); }

.card-post__category span {
  color: #0d0d0d; }

.meta p {
  font-size: 10px; }

span.avatar1 {
  background: #69afbf;
  background-image: url(https://s3.us-east-2.amazonaws.com/web-experiments/exp-card-splatoon2-inkling.jpg);
  background-size: cover;
  border-radius: 20px;
  display: inline-block;
  height: 30px;
  width: 30px; }

.btn-group a {
  font-size: 26px;
  color: #ccc; }

.btn-group .btn-facebook:hover {
  color: #3b5998; }

.btn-group .btn-twitter:hover {
  color: #55acee; }

.btn-group .btn-google:hover {
  color: #dd4b39; }

.hero {
  padding: 3.5rem 0;
  background-color: black; }

/* MEDIAQUERIES */
@media (min-width: 1028px) {
  .card-post {
    max-width: 750px; }
  .card-post__hero {
    height: 350px; }
  .card-post__category {
    top: 335px; } }

/* COLORES */
/* FUENTES */
/* Utilidades */
.logo {
  font-size: 3rem;
  font-style: bold;
  font-weight: 900;
  text-align: left;
  color: #69afbf; }
  .logo span {
    color: #b4d9c4; }

.widget {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  display: inline-block;
  background-color: white; }

.widget-content {
  padding: 30px 0 30px 30px;
  line-height: 1.2; }

.item-box {
  border-bottom: 1px solid #e9e9e9;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-size: 13px;
  line-height: 16px; }

.ordinal {
  float: left;
  height: 48px;
  line-height: 48px;
  font-size: 40px;
  color: #ccc;
  margin: 6px 12px; }

.item-box__content {
  margin: 18px 0 12px 48px; }

/* FIN CURSOS */

/*  */
.logo {
  text-decoration: none;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1; }

.c-zima {
  padding: 70px 0; }

.footer-area {
  padding: 100px; }

.texto-sombreado {
  text-shadow: black 0.1em 0.1em 0.2em; }

/*!
 * Bootstrap v5.1.0 (https://getbootstrap.com/)
 * Copyright 2011-2021 The Bootstrap Authors
 * Copyright 2011-2021 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #69afbf;
  --bs-secondary: #b4d9c4;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #000;
  --bs-primary-rgb: 105, 175, 191;
  --bs-secondary-rgb: 180, 217, 196;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 0, 0, 0;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-rgb: 33, 37, 41;
  --bs-font-sans-serif: "Raleway", sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff; }

*,
*::before,
*::after {
  box-sizing: border-box; }

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth; } }

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

 h4, .h4, h5, .h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.2; }

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw); }
  @media (min-width: 1200px) {
    h4, .h4 {
      font-size: 1.5rem; } }

h5, .h5 {
  font-size: 1.25rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

ol,
ul {
  padding-left: 2rem; }

ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

a {
  color: #69afbf;
  text-decoration: underline; }
  a:hover {
    color: #548c99; }

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none; }

img {
  vertical-align: middle; }

button {
  border-radius: 0; }

button:focus:not(:focus-visible) {
  outline: 0; }


button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button {
  text-transform: none; }

button,
[type="button"] {
  -webkit-appearance: button; }
  button:not(:disabled),
  [type="button"]:not(:disabled) {
    cursor: pointer; }

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/

.img-fluid {
  max-width: 100%;
  height: auto; }

.container,
.container-fluid {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

@media (min-width: 1400px) {
  .container {
    max-width: 1320px; } }

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5); }
  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y); }

.col-12 {
  flex: 0 0 auto;
  width: 100%; }

@media (min-width: 576px) {
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%; } }

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333%; } }

@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%; }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333%; }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66667%; }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%; } }

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .btn {
      transition: none; } }
  .btn:hover {
    color: #212529; }
   .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(105, 175, 191, 0.25); }
  .btn:disabled {
    pointer-events: none;
    opacity: 0.65; }

.btn-primary {
  color: #000;
  background-color: #69afbf;
  border-color: #69afbf; }
  .btn-primary:hover {
    color: #000;
    background-color: #80bbc9;
    border-color: #78b7c5; }
   .btn-primary:focus {
    color: #000;
    background-color: #80bbc9;
    border-color: #78b7c5;
    box-shadow: 0 0 0 0.25rem rgba(89, 149, 162, 0.5); }
   .btn-primary:active, .btn-primary.active {
    color: #000;
    background-color: #87bfcc;
    border-color: #78b7c5; }
     .btn-primary:active:focus, .btn-primary.active:focus {
      box-shadow: 0 0 0 0.25rem rgba(89, 149, 162, 0.5); }
  .btn-primary:disabled {
    color: #000;
    background-color: #69afbf;
    border-color: #69afbf; }

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem; }

.collapse:not(.show) {
  display: none; }

.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle; }
  .btn-group > .btn {
    position: relative;
    flex: 1 1 auto; }
  
  .btn-group > .btn:hover,
  .btn-group > .btn:focus,
  .btn-group > .btn:active,
  .btn-group > .btn.active {
    z-index: 1; }

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) {
  margin-left: -1px; }

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.btn-group > .btn:nth-child(n + 3),
.btn-group > :not(.btn-check) + .btn,
.btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #69afbf;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .nav-link {
      transition: none; } }
  .nav-link:hover, .nav-link:focus {
    color: #548c99; }

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }
  .navbar > .container,
  .navbar > .container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between; }

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0; }

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center; }

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .navbar-toggler {
      transition: none; } }
  .navbar-toggler:hover {
    text-decoration: none; }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.25rem; }

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; }

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start; }
    .navbar-expand-lg .navbar-nav {
      flex-direction: row; }
      .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem; }
    .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: auto; }
    .navbar-expand-lg .navbar-toggler {
      display: none; } }

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.55); }
  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75); }


.navbar-dark .navbar-nav .nav-link.active {
  color: #fff; }

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.55);
  border-color: rgba(255, 255, 255, 0.1); }

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem; }
  .badge:empty {
    display: none; }

.btn .badge {
  position: relative;
  top: -1px; }

@keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem; } }

.tooltip {
  position: absolute;
  z-index: 1080;
  display: block;
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0; }

/* rtl:begin:ignore */

/* rtl:end:ignore */

/* rtl:options: {
  "autoRename": true,
  "stringMap":[ {
    "name"    : "prev-next",
    "search"  : "prev",
    "replace" : "next"
  } ]
} */

@keyframes spinner-border {
  to {
    transform: rotate(360deg) /* rtl:ignore */; } }

@keyframes spinner-grow {
  0% {
    transform: scale(0); }
  50% {
    opacity: 1;
    transform: none; } }

@keyframes placeholder-glow {
  50% {
    opacity: 0.2; } }

@keyframes placeholder-wave {
  100% {
    mask-position: -200% 0%; } }

.d-flex {
  display: flex !important; }

.d-none {
  display: none !important; }

.position-relative {
  position: relative !important; }

.position-absolute {
  position: absolute !important; }

.bottom-0 {
  bottom: 0 !important; }

.start-0 {
  left: 0 !important; }

.border {
  border: 1px solid #dee2e6 !important; }

.border-top {
  border-top: 1px solid #dee2e6 !important; }

.border-end-0 {
  border-right: 0 !important; }

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important; }

.flex-column {
  flex-direction: column !important; }

.justify-content-end {
  justify-content: flex-end !important; }

.justify-content-between {
  justify-content: space-between !important; }

.align-items-end {
  align-items: flex-end !important; }

.align-items-center {
  align-items: center !important; }

.m-0 {
  margin: 0 !important; }

.m-1 {
  margin: 0.25rem !important; }

.m-3 {
  margin: 1rem !important; }

.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important; }

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important; }

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important; }

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important; }

.mt-3 {
  margin-top: 1rem !important; }

.mt-5 {
  margin-top: 3rem !important; }

.ms-1 {
  margin-left: 0.25rem !important; }

.ms-3 {
  margin-left: 1rem !important; }

.p-0 {
  padding: 0 !important; }

.p-1 {
  padding: 0.25rem !important; }

.p-2 {
  padding: 0.5rem !important; }

.p-3 {
  padding: 1rem !important; }

.px-1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important; }

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important; }

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

.fs-5 {
  font-size: 1.25rem !important; }

.fw-bold {
  font-weight: 700 !important; }

.lh-1 {
  line-height: 1 !important; }

.text-decoration-none {
  text-decoration: none !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-wrap {
  white-space: normal !important; }

/* rtl:begin:remove */

/* rtl:end:remove */
.text-primary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important; }

.text-light {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important; }

.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important; }

.text-muted {
  --bs-text-opacity: 1;
  color: #6c757d !important; }

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important; }

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important; }

@media (min-width: 576px) {
  .m-sm-3 {
    margin: 1rem !important; }
  .my-sm-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important; }
  .px-sm-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important; } }

@media (min-width: 768px) {
  .d-md-block {
    display: block !important; }
  .p-md-1 {
    padding: 0.25rem !important; }
  .p-md-5 {
    padding: 3rem !important; } }

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important; }
  .mx-lg-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important; } }
