/* COLORES */

$primary: #69afbf;
$secondary: #b4d9c4;
$dark: #000;

/* FUENTES */

$headings-font-family: "Roboto", sans-serif;
$font-family-sans-serif: "Raleway", sans-serif;

$fuente-terciaria: "Libre Baskerville", sans-serif;
$fuente-info: "Titillium Web", sans-serif;

/* Utilidades */
