.logo {
  text-decoration: none;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1;
}

.jumbotron {
  background-color: #b4d9c4;
}

.title-zima {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1;
}

.box-pod {
  background-color: #b4d9c4;
}

.card-content {
  padding: 30px 0 30px 30px;
  font-size: 1rem;
}

.c-zima {
  padding: 70px 0;
}

.footer-area {
  padding: 100px;
}

.texto-sombreado {
  text-shadow: black 0.1em 0.1em 0.2em;
}

.course {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  margin: 1rem auto;
  background-color: $secondary;
  min-width: 100%;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.1;

  &__title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
  }

  &__text {
    display: flex;
    gap: 10px;
  }
}

.carta {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border-radius: 15px;
  overflow: hidden;
  border: 2px $dark solid;
  min-width: 18rem;

  a {
    text-decoration: none;
    color: $dark;
  }

  &__body {
    h4 {
      margin: 0.2rem;
      font-size: 0.7rem;
      opacity: 0.6;
      text-transform: uppercase;
      top: 0;
    }

    h5 {
      border-bottom: 1px lightgray solid;
      font-size: 1rem;
      margin: 0.3rem;
      font-size: 1rem;
    }

    p {
      line-height: 1;
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
    }
  }

  &__boton {
    display: flex;
    justify-content: center;

    border-top: 1px lightgray solid;
    padding: 0.5rem 0;
  }
}

.s-carta {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #0d0d0d;
  overflow: hidden;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.03);
  }
}

@media (min-width: 576px) {
  .carta {
    margin-bottom: 1rem;
  }
}

@media (max-width: 575px) {
  .carta {
    margin-bottom: 1.2rem;
  }
}

.footer {
  background-color: $dark;
  padding-top: 2rem;
  margin-top: 13rem;
  color: #b4d9c4;
  font-weight: 400;
  height: 100%;

  &__widget {
    padding-bottom: 50px;

    &--title {
      font-size: 15px;
      font-weight: 600;
      color: whitesmoke;
    }

    &--newsletter {
      display: flex;
      flex-direction: row;
      padding-top: 15px;
    }

    &--newsletter .form-control {
      background-color: #1e2e38;
      border-color: #1e2e38;
    }
  }
}

.boton {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 700;
  padding: 6px 12px;
  letter-spacing: 0;
  border-radius: 3px;
  line-height: 2;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  word-wrap: break-word;
  white-space: normal !important;
}

.boton-default {
  background-color: $secondary;
  color: black;
  border: 1px solid $secondary;

  &:hover {
    background-color: $primary;
  }

  &:focus {
    color: cadetblue;
    outline: 0;
    box-shadow: 0 0 0 0rem rgb(255, 255, 255);
    border-color: #c9cdd0;
    background-color: #f0f4f6;
  }
}

#social-test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;

  .social {
    padding-left: 0px;
  }
  li {
    color: rgba(167, 146, 129, 0.6);
    list-style-type: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 1%;
    border: 1px solid rgba(167, 146, 129, 0.4);
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: ease 0.3s;
    &:hover {
      color: rgba(167, 146, 129, 1);
      border: 1px solid rgba(167, 146, 129, 1);
    }
  }
}

.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}
